tmp/screenshots/00cf0053-009c-0038-00da-00b6004000c9.json
tmp/screenshots/Protractor Test report.html
tmp/screenshots/app.js
tmp/screenshots/combined.json
tmp/screenshots/assets/angular.min.js
tmp/screenshots/assets/bootstrap.css
tmp/screenshots/assets/bootstrap.min.js
tmp/screenshots/assets/buttons.html
tmp/screenshots/assets/buttons.js
tmp/screenshots/assets/circular-json.js
tmp/screenshots/assets/jquery.min.js
tmp/screenshots/assets/main.css
tmp/screenshots/assets/main.js
tmp/screenshots/assets/assets/css/buttons.css
tmp/screenshots/fonts/glyphicons-halflings-regular.eot
tmp/screenshots/fonts/glyphicons-halflings-regular.svg
tmp/screenshots/fonts/glyphicons-halflings-regular.ttf
tmp/screenshots/fonts/glyphicons-halflings-regular.woff
tmp/screenshots/fonts/glyphicons-halflings-regular.woff2
